.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
   
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:50px;
}
.cart-container{
    background-color: burlywood;
}
@media only screen and (max-width: 688px){
    .shop-container{
        grid-template-columns: repeat(1,1fr)
    }
    .products-container{    
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr)
    }
 };


    
