.product{
    width: 300px;
    height: 400px;
    border: 1px solid lightgray;
    border-radius: 10px;
    position: relative;
}

.product img{
    width: 290px;
    border-radius: 10px;
    margin: 5px;
}
.product-name{
    margin: 10px 0px;
}
.product-info{
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 5px;


}
.btn-cart{
    width: 100%;
    background-color:rgb(243, 195, 104);
    border: none;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    bottom: 0;
}
.btn-cart:hover{
    background-color: orange;
}